.disclaimer-overlay {
  position: absolute;
  top: auto;
  bottom: 3rem;
  left: 0rem;
  width: 100%;
  text-align: center;
  margin-top: 6rem;

  a,
  a strong {
    color: var(--theme-secondary);

    &:hover {
      color: var(--theme-primary);
    }
  }
}
