.editor-controls {
  $this: &;

  // states ---------------------------------------------------------------- //

  &__input-placeholder-text[data-hidden] {
    visibility: hidden;
  }

  // animation ------------------------------------------------------------- //

  &__input-placeholder-box {
    transition: width var(--sddw_ease-dur-fast) var(--sddw_ease-out-jim-dynamic),
      left var(--sddw_ease-dur-fast) var(--sddw_ease-out-jim-dynamic);
  }

  // elements -------------------------------------------------------------- //

  &__input-text {
    width: 100%;
    height: 100%;
    text-align: center;
    color: inherit;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;

    &:focus {
      outline: 0;
    }
  }

  // views

  &__view-inputs-poster,
  &__view-inputs-primary {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  &__view-inputs-poster {
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-left: 16.67vw;
  }

  // columns

  &__controls-column,
  &__poster-column {
    display: flex;
    position: relative;
    min-width: 52rem;
    width: 33vw;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__controls-column {
    width: 100%;
    max-width: 33vw;
    min-width: 35rem;
    margin-left: 8.3vw;
  }

  // poster controls

  &__button-close {
    position: absolute;
    top: 5rem;
    left: auto;
    right: 5rem;
  }

  &__controls-wrapper,
  &__social-wrapper {
    > * {
      display: block;
      margin-top: 5rem;

      &:first-child {
        margin-top: 0;
      }
    }

    > button-close-element {
      margin: 0;
    }
  }

  &__controls-wrapper {
    width: 25vw;
    border-radius: 2rem;
    padding: 5.5rem;
    box-shadow: inset 0rem 0rem 0rem 0.2rem var(--bright);
  }

  &__ranges-wrapper {
    range-slider {
      display: block;
    }

    range-slider + range-slider {
      margin-top: 3.5rem;
    }
  }

  &__radio-background-wrapper {
    display: block;
    margin-top: 3.5rem;
  }

  &__buttons-wrapper,
  &__options-wrapper,
  &__date-wrapper,
  &__host-wrapper {
    display: flex;
    position: relative;
    z-index: 5;
    flex-flow: row wrap;
    justify-content: center;

    > * + * {
      margin-top: 3.5rem;
    }
  }

  &__options-wrapper {
    justify-content: flex-start;

    > * + * {
      margin-top: 3.5rem;
    }
  }

  &__host-wrapper + &__date-wrapper {
    margin-top: 2rem;
  }

  &__button-finish {
  }

  // social buttons

  &__social-wrapper {
    box-shadow: none;
    padding: 0;
  }

  &__social-instructions {
    list-style: none;
    counter-reset: social-instructions;

    > li {
      position: relative;
      counter-increment: social-instructions;
      padding-left: 3rem;

      &:before {
        position: absolute;
        top: 0rem;
        left: 0rem;
        content: counter(social-instructions) '. ';
        color: var(--bright);
      }

      span {
        display: block;
        position: relative;
      }

      span + ul,
      span + button,
      span + a {
        margin-top: 1.5rem;
      }
    }

    > li + li {
      margin-top: 3rem;
    }
  }

  &__social-links {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: row nowrap;

    > li + li {
      margin-left: 2.7rem;
    }
  }

  &__social-download-email-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: row nowrap;

    button,
    button[data-big] {
      min-width: 0rem;
    }

    button + button {
      margin-left: 2rem;
    }
  }

  // poster editing controls

  &__view-inputs-primary {
    > h2 {
      strong {
        color: var(--cornflower-blue);
      }
    }

    > h2 + p {
      margin-top: 3rem;
    }

    > h2 + #{$this}__input-placeholder,
    > p + #{$this}__input-placeholder {
      margin-top: 4rem;
    }
  }

  &__input-placeholder {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 4rem;
    padding: 5rem 6rem;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  &__input-placeholder-text {
    display: flex;
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: var(--bright-alpha-20);
  }

  &__input-placeholder-box {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    box-shadow: inset 0rem 0rem 0rem 0.1rem var(--bright-alpha-40);
  }

  &__input-rendered {
    display: flex;
    position: relative;
    top: -0.2rem;
    height: 11.7rem;
    user-select: none;
    z-index: 2;

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    }

    &:after {
      content: '';
      width: 0.1rem;
      background-color: currentColor;
      position: absolute;
      right: 0;
      top: -1rem;
      bottom: -1rem;
      animation: blink 1s steps(1) infinite;
    }

    figure[data-phrase] {
      display: flex;
      position: relative;
    }

    *[fill='#F8F9FA'] {
      fill: var(--bright) !important;
    }

    *[fill='#1B1C1E'] {
      fill: var(--dark) !important;
    }
  }

  &__primary-buttons-wrapper {
    display: flex;
    position: relative;
    z-index: 5;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 5rem;
  }

  &__generate,
  &__randomize,
  &__clear {
  }

  &__clear {
    margin-top: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
  }

  &__button-restart,
  &__button-finish {
  }

  &__button-restart {
  }

  &__button-finish {
  }

  &__poster {
    position: relative;
    width: 100%;
  }

  &__range-slider {
    position: relative;
    margin-top: 7rem;
  }
}
