.button {
  min-width: 13.5rem;
  height: 5rem;
  background-color: var(--dark);
  background-clip: padding-box;
  border: solid 0.2rem transparent;
  border-radius: 2.5rem;
  padding: 0 3rem;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  font-size: 1.2rem;
  white-space: nowrap;

  // states ---------------------------------------------------------------- //

  &[data-big='true'] {
    min-width: 24rem;
    height: 7rem;
    padding: 0 3rem;
    border-radius: 3.5rem;
    border: solid 0.2rem transparent;
    font-size: 1.6rem;

    &:before {
      margin: -0.2rem;
    }
  }

  // elements -------------------------------------------------------------- //

  &:focus {
    outline: 0;
  }

  &:before {
    content: '';
    margin: -0.2rem;
    border-radius: inherit;
    background: var(--mint-green);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}