.button-close {
  $this: &;
  position: absolute;
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  // c---[======================>
  // states

  button {
    background: var(--bright);

    &:focus {
      outline: 0;
    }

    &:hover,
    &[data-active] {
      background: var(--theme-primary);

      figure {
        background: var(--bright);
      }
    }
  }

  // c---[======================>
  // elements

  button {
    position: relative;
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
  }

  &__x {
    position: absolute;
    top: calc(50% - 1.7rem);
    left: calc(50% - 0.2rem);
    width: 0.3rem;
    height: 3.5rem;
    background: var(--dark);
    transform: rotate(45deg);
    transform-origin: 50% 50%;

    &:first-child {
      transform: rotate(-45deg);
    }
  }
}
