.button-toggle {
  $this: &;
  width: auto;
  background-color: var(--dark);
  background-clip: padding-box;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  cursor: pointer;

  button {
    position: relative;
    padding-left: 6.2rem;
    line-height: 5rem;
    text-align: left;

    &:focus {
      outline: 0;
    }
  }

  span {
    line-height: 1;
  }

  // c---[======================>
  // state

  &[data-active] {
    #{$this}__knob {
      left: 3rem;
    }

    #{$this}__knob-bg {
      opacity: 1;
    }
  }

  &[data-color='1'] {
    #{$this}__knob-bg {
      background: var(--candy-corn);
    }
  }

  &[data-color='2'] {
    #{$this}__knob-bg {
      background: var(--mint-green);
    }
  }

  &[data-color='3'] {
    #{$this}__knob-bg {
      background: var(--malibu);
    }
  }

  &[data-color='4'] {
    #{$this}__knob-bg {
      background: var(--cinnabar);
    }
  }

  // c---[::::::::::::::::::::::>
  // elements

  &__knob,
  &__knob-bg {
    position: absolute;
    top: calc(50% - 1rem);
    left: 0rem;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    overflow: hidden;
  }

  &__knob {
    position: absolute;
    left: 0;
    width: 2rem;
    background: var(--bright);
    z-index: 1;
  }

  &__knob-bg {
    background: var(--bright);
    opacity: 0.2;
    z-index: 0;
  }
}