.sddw-poster {
  svg {
    [data-line] {
      transform-origin: 0 0;
    }

    [data-background] {
      fill: var(--bright);
    }
  }

  *[data-fill-bright] {
    * {
      fill: var(--bright);
    }
  }

  *[fill='#F8F9FA'] {
    fill: var(--bright);
  }

  *[fill='#1B1C1E'] {
    fill: var(--dark);
  }

  *[data-fill-dark],
  *[data-character='currentColor'] {
    fill: var(--dark);
  }
}