.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  &__logo {
    position: relative;
    width: 60vh;
    height: 60vh;
  }

  &__blurb {
    display: flex;
    position: absolute;
    bottom: 1%;
    width: 50%;
    height: 12%;
    left: 50%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  svg-asset,
  figure {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  p {
    position: relative;
    line-height: 1.5;
  }

  &__button {
    margin-top: 10vh;
  }
}