:root {
  --black: #000;
  --dark: #231F20;
  --white: #fff;
  --bright: #F4EADF;
  --vermilion: #FB4C00;
  --astral: #3483AE;
  --victoria: #514C8F;
  --zuccini: #065B2F;
  --rose-bud: #F8ACA4;
  --yellow-orange: #FEC045;
}
