:root {
  --black: #000;
  --white: #fff;

  --athens-gray: #F8F9FA;
  --bright-grey: #5D5E60;
  --candy-corn: #F9F15A;
  --cinnabar: #E75334;
  --cornflower-blue: #4D78F6;
  --malibu: #66DEF4;
  --mandy: #E94568;
  --mint-green: #76FA95;
  --royal-purple: #6A2FA1;
  --shark: #1B1C1E;

  // light / dark - can be inverted depending on theme state
  --dark: #1B1C1E;
  --bright: #F8F9FA;

  --bright-alpha-0: rgba(248, 249, 250, 0);
  --bright-alpha-20: rgba(248, 249, 250, 0.2);
  --bright-alpha-40: rgba(248, 249, 250, 0.4);
  --bright-alpha-100: rgba(248, 249, 250, 1);

  --gradient-rainbow: linear-gradient(to right, var(--royal-purple), var(--cornflower-blue), var(--malibu), var(--mint-green), var(--candy-corn), var(--cinnabar), var(--mandy));
}

:global {
  body.is-dark {
    --dark: #F8F9FA;
    --bright: #1B1C1E;

    --bright-alpha-0: rgba(27, 28, 30, 0);
    --bright-alpha-20: rgba(27, 28, 30, 0.2);
    --bright-alpha-40: rgba(27, 28, 30, 0.4);
    --bright-alpha-100: rgba(27, 28, 30, 1);
  }
}