@import '../mixins/mq';

:root {
  --grid-width: 100vw;
  --grid-column-count: 6;
  --grid-padding: 2rem;
  --grid-gutter: 2rem;

  @include mq('desktop') {
    --grid-column-count: 12;
    --grid-padding: 4rem;
  }
}
