:global {
  body:not(.is-developer) {
    [data-dev-only] {
      display: none;
    }
  }
  body:not(.is-speaker) {
    [data-speaker-only] {
      display: none;
    }
  }
  body:not(.is-speaker-sticker) {
    [data-speaker-sticker-only] {
      display: none;
    }
  }
  body:not(.is-speaker-no-sticker) {
    [data-speaker-no-sticker-only] {
      display: none;
    }
  }
  body.is-speaker,
  body.is-developer {
    [data-public-only] {
      display: none;
    }
  }
}
