:global {
  body:not(.is-developer) {
    [data-dev-only] {
      display: none;
    }
  }
  body:not(.is-speaker) {
    [data-speaker-only] {
      display: none;
    }
  }
  body.is-speaker,
  body.is-developer, {
    [data-public-only] {
      display: none;
    }
  }
}