@import
  '../mixins/font-face',
  '../mixins/mq';

@include font-face('Roboto Mono', '../fonts/RobotoMono-Regular', 400);
@include font-face('Roboto Mono', '../fonts/RobotoMono-Medium', 500);
@include font-face('Sharp Sans Display No.2', '../fonts/SharpSansDisplayNo2-Bold', 700);
@include font-face('Sharp Sans Display No.2', '../fonts/SharpSansDispNo2-Extrabold', 800);
@include font-face('Sharp Sans Display No.2', '../fonts/SharpSansDisplayNo2-Black', 900);

:root {
  // font family
  --font-family-roboto: 'Roboto Mono';
  --font-family-sharp: 'Sharp Sans Display No.2';

  // font weight
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  // xl display heading
  --font-size-heading-display: 5rem;
  --font-family-heading-display: var(--font-family-sharp);
  --font-weight-heading-display: var(--font-weight-black);
  --letter-spacing-heading-display: 0.05em;
  --line-height-heading-display: 1;

  @include mq('desktop') {
    --font-size-heading-display: 16rem;
  }

  // h1-h6 headings
  --font-size-h1: 4.2rem;
  --font-size-h2: 2.8rem;
  --font-size-h3: 2.4rem;
  --font-size-h4: 2rem;
  --font-size-h5: 2rem;
  --font-size-h6: 1.6rem;

  @include mq('desktop') {
    --font-size-h1: 7.4rem;
    --font-size-h2: 4.8rem;
    --font-size-h3: 4.4rem;
    --font-size-h4: 3.8rem;
    --font-size-h5: 2.4rem;
    --font-size-h6: 1.8rem;
  }

  // line height
  --line-height-h1: 1;
  --line-height-h2: 1;
  --line-height-h3: 1;
  --line-height-h4: 1;
  --line-height-h5: 1;
  --line-height-h6: 1;

  // letter spacing
  --letter-spacing-h1: 0.05em;
  --letter-spacing-h2: 0.05em;
  --letter-spacing-h3: 0.05em;
  --letter-spacing-h4: 0.05em;
  --letter-spacing-h5: 0.05em;
  --letter-spacing-h6: 0.05em;

  // body
  --font-size-p: 1.2rem;
  --font-size-p-small: 1.1rem;

  --font-family-p: var(--font-family-roboto);
  --font-family-p-small: var(--font-family-roboto);

  --font-weight-p: var(--font-weight-regular);
  --font-weight-p-small: var(--font-weight-regular);

  --letter-spacing-p: 0.05em;
  --letter-spacing-p-small: 0.05em;

  --line-height-p: 2;
  --line-height-p-small: 2;

  @include mq('desktop') {
    --font-size-p: 1.4rem;
  }

  // label
  --font-size-label: 1.3rem;
  --font-family-label: var(--font-family-sharp);
  --font-weight-label: var(--font-weight-extra-bold);
  --letter-spacing-label: 0.1em;
  --line-height-label: 1;

  // buttons
  --font-size-button: 1.1rem;
  --font-family-button: var(--font-family-sharp);
  --font-weight-button: var(--font-weight-extra-bold);
  --letter-spacing-button: 0.1em;
  --line-height-button: 1;

  @include mq('desktop') {
    --font-size-button: 1.6rem;
  }
}

// <==[------------------------------->
// MIXINS

// heading display
@mixin heading-display() {
  font-size: var(--font-size-heading-display);
  font-weight: var(--font-weight-heading-display);
  letter-spacing: var(--letter-spacing-heading-display);
  line-height: var(--line-height-heading-display);
  font-family: var(--font-family-sharp);
  text-transform: uppercase;
}

// h1-h6 headings
@mixin heading($i) {
  font-family: var(--font-family-sharp);
  font-size: var(--font-size-h#{$i});
  font-weight: var(--font-weight-extra-bold);
  letter-spacing: var(--letter-spacing-h#{$i});
  line-height: var(--line-height-h#{$i});
  text-transform: uppercase;
}
@mixin h1() {
  @include heading(1);
}
@mixin h2() {
  @include heading(2);
}
@mixin h3() {
  @include heading(3);
}
@mixin h4() {
  @include heading(4);
}
@mixin h5() {
  @include heading(5);
}
@mixin h6() {
  @include heading(6);
}

// body copy
@mixin text-p() {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-p);
  letter-spacing: var(--letter-spacing-p);
  line-height: var(--line-height-p);
}

@mixin text-p-small() {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-p-small);
  font-weight: var(--font-weight-p-small);
  letter-spacing: var(--letter-spacing-p-small);
  line-height: var(--line-height-p-small);
}

// buttons
@mixin text-button() {
  font-family: var(--font-family-button);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
  letter-spacing: var(--letter-spacing-button);
  line-height: var(--line-height-button);
  text-transform: uppercase;
}

// labels
@mixin text-label() {
  font-family: var(--font-family-label);
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-label);
  letter-spacing: var(--letter-spacing-label);
  line-height: var(--line-height-label);
  text-transform: uppercase;
}

// <==[------------------------------->
// ASSOCIATE MIXINS WITH CLASSES

:global {
  .heading-display {
    @include heading-display();
  }

  h1,
  .h1 {
    @include h1();
  }

  h2,
  .h2 {
    @include h2();
  }

  h3,
  .h3 {
    @include h3();
  }

  h4,
  .h4 {
    @include h4();
  }

  h5,
  .h5 {
    @include h5();
  }

  h6,
  .h6 {
    @include h6();
  }

  // body copy (p),
  // generic links

  p,
  p > a,
  .text-p,
  .text-p > a {
    @include text-p();
    color: inherit;
    text-decoration: none;

    strong {
      font-weight: var(--font-weight-extra-bold);
    }
  }

  p > a,
  .text-p > a {
    text-decoration: underline;
  }

  .text-p-sm,
  .text-p-sm > a {
    @include text-p-small();
    text-decoration: none;
    color: inherit;

    strong {
      font-weight: var(--font-weight-p-small);
    }
  }

  .text-p-sm > a {
    text-decoration: underline;
  }

  button {
    @include text-button();
  }

  label {
    @include text-label();
  }
}

