.editor-overlay {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  left: -9999rem;
  visibility: hidden;
  background: var(--dark-alpha-95);
  z-index: var(--sddw_z-overlay);
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  &[data-active] {
    position: fixed;
    left: 0;
    height: 100vh;
    visibility: visible;
  }
}
