.radio-selector {
  position: relative;
  width: 100%;
  text-align: center;

  // states -------------------------------------------------------------- //

  input:checked + label {

  }

  // elements -------------------------------------------------------------- //

  > span {
    display: block;
    text-align: center;
  }

  &__control-item {
    position: relative;
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;

    &:first-child {
      margin-left: 0;
    }

    input,
    label {
      position: absolute;
      top: 0rem;
      left: 0rem;
      width: 100%;
      height: 100%;
    }

    input {
      opacity: 0;
      z-index: 1;
    }

    label {
      opacity: 1;
      border-radius: 50%;
      color: transparent;
      box-shadow: inset 0rem 0rem 0rem 0.2rem var(--bright);
      pointer-events: none;

      &:after {
        content: '';
        position: absolute;
        top: 0rem;
        left: 0rem;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  &__controls-wrapper {
    margin-top: 1.9rem;

    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
  }
}